---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "A text to text translation interface like google translate ",
		href: "https://huggingface.co/spaces/gundeep/open-translate",
		title: "Open Translate",
	},
	{
		desc: "Deduplication image dataset engineering & CNN model training",
		href: "https://docs.google.com/document/u/0/d/e/2PACX-1vTmT-gTT2HYJu2EvAdHnd33S2q-Wtw1nLJsgP5TxPChWTZCDQAebScix2mqvdxtJFzTJdujnQPwAhNI/pub?pli=1",
		title: "Image Deduplication",
	},
	{
		desc: "Price prediction regression model for used cars bids",
		href: "https://gndp.medium.com/machine-learning-challenges-in-a-used-car-sales-companies-like-spinny-ee1115dae08a",
		title: "Bid prediction",
	},
	{
		desc: "Custom hot keyword detection",
		href: "https://vimeo.com/309319358",
		title: "Rename Siri",
	},
	{
		desc: "Multiple mobile and web apps development",
		href: "https://gndp.medium.com/what-can-you-learn-from-a-fast-moving-tech-career-a841ff84b7e9",
		title: "Apps"
	}
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hi there 👨‍💻</h1>
		<p class="mb-4">
			I’m Gundeep Singh, based out of Vancouver area, Canada;
			I'm a versatile Machine Learning Engineer and Technical Lead
			with expertise in optimizing production ML inference services
			using Triton Inference Server, streamlining engineering processes,
			and microservices architecture. I like to learn about technology
			in-depth and incline towards simple solutions to complex problems.
		</p>
		<SocialList />
	</section>
	<!--section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section-->
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
